@model Forum.ViewModels.ErrorsViewModel
@{
    ViewData["Title"] = Model.Title;
}

<h1 class="text-danger">@Model.Title</h1>
<h2 class="text-danger">@Model.Text.</h2>

<div class="alert alert-danger" role="alert">
    <ul>
        @foreach (var error in Model.Errors)
        {
            <li>@error</li>
        }
    </ul>
</div>

<br />

<a href="@Model.GoBackUrl">Go back</a>