@model Forum.ViewModels.TopicViewModel

@{
    ViewData["Title"] = "Topic details";
}

<div class="my-3 p-3 bg-white rounded box-shadow">
    <strong class="d-block text-gray-dark float-left mr-3 badge badge-primary">@@@Model.Author.UserName</strong>
    <h3 class="border-bottom border-gray pb-2 mb-0">@Model.Title</h3>
    <br />
    @{
        if (!string.IsNullOrEmpty(Model.Body))
        {
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@Model.Body</strong>
            </p>
        }
    }

    @foreach (var post in Model.Posts)
    {
        <strong></strong>
        <p></p>

        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@@@post.Author.UserName</strong>
                @post.Body
            </p>
        </div>
    }

    <small class="d-block text-right mt-3">
        <a href="#">All updates</a>
    </small>
</div>

<form asp-action="create" asp-controller="posts" method="post">
    <div class="form-group">
        <textarea name="body" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <input type="hidden" name="topicId" value="@Model.Id">
    </div>
    <div class="form-group">
        <input type="submit" value="Create answer" class="btn btn-primary" />
    </div>
</form>
