@model Forum.ViewModels.EditTopicViewModel

@{
    ViewData["Title"] = "Edit topic";
}

<h4>Edit topic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionId" class="control-label">Section</label>
                <select asp-for="SectionId" asp-items="Model.Sections"></select>
                <span asp-validation-for="SectionId" class="text-danger"></span>
            </div>
            @if (Model.IsCurrentUserModeratorOfSection)
            {
                <div class="form-group">
                    <label asp-for="Accessibility" class="control-label">Accessibility</label>
                    <select asp-for="Accessibility" asp-items="Model.AccessibilityTypes"></select>
                    <span asp-validation-for="Accessibility" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("Details", "Topics", new { id = Model.Id })">Go back</a>
</div>

