
@{
    ViewData["Title"] = "Success";
}

<div class="alert alert-success" role="alert">
    <p class="h1">Success</p>
        <br />
    <p>@ViewData["Message"]</p>
    <br />
    Go to <a href='@Url.Action("Index", "Sections", new { id = ViewData["SectionId"] })'>topic section.</a>
</div>
